%body
  .wrapper
    = render 'shared/side_bar'
    .chat-main
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group TEST-group
          %ul.main-header__left-box__member-list
            %p Member：
            %li.main-header__left-box__member-list__member takaya
        = link_to 'http://localhost:3000/groups/1/edit' do
          .main-header__edit-btn Edit
      .messages
        = render @messages
      .form
        = form_for [@group, @message] do |f|
          .input-box
            = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
            = f.label :image, class: 'input-box__image' do
              = icon 'fas', 'image', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit-btn'

